* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html body {
    /*overflow: hidden;*/
    width:100%;
    height:100%;
    cursor: default;
}

#toolBanner {
    width: 100%;
    background-color: rgb(20, 20, 20);
    border-bottom: 1px solid rgb(200, 200, 200);
}

.toolButton {
    border-bottom: 1px solid rgb(200, 200, 200);
    background-position: center center;
    background-repeat: no-repeat;
}

.unselected {
    background-color: transparent;
}

.unselected:hover {
    background-color: rgb(80, 80, 80);
}

.selected {
    background-color: rgb(120, 120, 120);
}

#jsonButton {
    border-bottom: 1px solid rgb(200, 200, 200);
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("json.png");
}